.navbar-default {
	margin-top:5px;
	
}
.navbar-default .navbar-nav>li>a{
	
	
}
img:hover{
border-radius: 40px;
}
.bc{
	
	background-image:url('87.jpg');
	background-repeat:repeat-x;
}

